#multiple-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.image {
  display: block;
  width: 100%;
}
.image-label {
  position: relative;
  bottom: 22px;
  left: 5px;
  color: white;
  text-shadow: 2px 2px 2px black;
}
