body {
  width: 45em;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}

@font-face {
  font-family: 'MingukBold';
  src: url('./fonts/YoonMingukB.ttf');
}

@font-face {
  font-family: 'MingukRegular';
  src: url('./fonts/YoonMingukR.ttf');
}
